<h4>
    Capitulo 3: Ubicacion y Superficie del Predio o Conjunto de Predios y Delimitación de la Porción de Donde se Pretende
    Realizar el Cambio de Uso de Suelo a Través de Planos Georreferenciados.
</h4><br>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Descripcion del Capitulo
        </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="text-align: justify;">
                En este capítulo se presenta la ubicación geográfica exacta del predio o conjunto de predios donde se desarrollará el proyecto, describiendo sus coordenadas, extensión total y límites territoriales. A través de planos georreferenciados se delimita la zona específica sujeta al cambio de uso de suelo, incluyendo mapas de referencia que muestran la relación del predio con su entorno natural y urbano. Asimismo, se detallan las colindancias, los accesos principales y las vías de comunicación cercanas, con el objetivo de proporcionar una representación espacial clara y precisa del área de estudio. Estos elementos cartográficos permiten evaluar la viabilidad ambiental y territorial del proyecto, asegurando que la información geográfica cumpla con los estándares técnicos requeridos.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Capitulo 3.1. Ubicación del Predio o Conjunto de Predios Donde se Ubica el Proyecto
        </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <b>3.1. Ubicación del Predio o Conjunto de Predios Donde se Ubica el Proyecto </b><br>
                <p style="text-align: justify;">El Proyecto “Extracción de Material Pétreo Banco Higueras”, se encuentra ubicado en el Ejido Higueras; del municipio de Ramos Arizpe, cuya superficie para realizar el cambio de uso de suelo es de 3.99 ha., como se manifiesta en el Anexo mapa No. 3-1. Ubicación del área en estudio.</p>
                <p style="text-align: justify;">En apego a la legislación vigente y considerando lo referente al Reglamento de la Ley General de Desarrollo Forestal Sustentable, publicado en el Diario Oficial de La Federación el 09 de diciembre de 2020, definiendo en el artículo 2 en su fracción XIX  como Planos georreferenciados, aquél que se presenta en coordenadas UTM o geográficas, con precisión a décimas de segundo de cada punto de la poligonal de los predios, ubicándolos dentro de su respectiva cuenca y subcuenca hidrológico-forestal, con una escala mínima de 1:50,000, a fin de identificar su localización por entidad federativa y municipio.</p><br>
                
                <b>3.1.1. Datos Generales de La Ubicacion</b><br>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Entidad:</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" [value]="proyecto?.proyecto_name">
                    </div>

                    <label for="staticEmail" class="col-sm-2 col-form-label">Región:</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" [value]="'Municipio y Entidad Federativa'">
                    </div>

                    <label for="staticEmail" class="col-sm-2 col-form-label">Municipio</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" [value]="'Vegetación'">
                    </div>

                    <label for="staticEmail" class="col-sm-2 col-form-label">Localidad o Ejido:</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" [value]="'Superficie'">
                    </div>
                </div>

                <b>3.1.2. Intinerario de Acceso:</b><br>
                <p style="text-align: justify;">El área donde se pretende construir el banco para la extracción de material pétreo, se encuentra en el municipio de Ramos Arizpe, Coahuila. Para llegar al área en estudio es partiendo de la presidencia municipal de Ramos Arizpe se incorpora a la calle Gustavo Mireles Espinoza durante 230 .96mts, hasta llegar al Blvd. Plan de Guadalupe, se incorpora girando al lado derecho y sigue por el mismo durante 548 mts, hasta llegar a Blvd. Manuel Acuña, por el cual seguirá durante 286mts y así llegar a Carretera libre Monterrey- Saltillo   se gira a lado derecho en la cual se recorren 16.300 km, se gira a lado derecho y sigue durante 2.52 km de terrería donde se encuentra el área de estudio.</p>
                
                <b>3.1.3. Superficie del Predio:</b><br><br>
                <div class="container">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th>Distribución de Superficies</th>
                            <th>Superficie (ha)</th>
                            <th>Porcentaje (%)</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Superficie de la Localidad</td>
                                <td>3.99</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>Superficie de Contrasto</td>
                                <td>3.99</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>Superficie sujeta a ACUSTF</td>
                                <td>0.00</td>
                                <td>0%</td>
                            </tr>
                        </tbody>
                    </table><br>
                </div>

                <b>3.1.4. Situación Legal del Predio</b><br>
                <textarea class="form-control" name="" id="" cols="30" rows="5" placeholder="Escribir la situación legal del predio"></textarea><br>

                <b>3.1.4.1. colindancias del predio solicitado para cambio de uso de suelo</b><br>
                <b>Aqui va una tabla</b><br>

                <b>3.1.5. Situación Legal del Promovente</b><br>
                <textarea class="form-control" name="" id="" cols="30" rows="5" placeholder="Escribir la situación legal del promovente"></textarea><br>

                <b>3.1.5.1. Promovente</b><br>
                <p>Nombre del Promovente</p><br>

                <b>3.1.5.2. Representante Legal</b><br><br>
                <b>Nombre del Representante Legal</b><br>
                <p>Descripcion del Representante</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Capitulo 3.2. Ubicación y Delimitación Fisica de la Superficie del Proyecto
        </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p>Localización del área del proyecto con coordenadas UTM con Datum WGS 84. Zona 14N.<p>
                <p><i>Tabla 3.3: Coordenadas en el área de estudio</i></p>
                <b>Aqui va una tabla</b><br><br>

                <b>3.2.1. Ubicación y Delimitación Física de la Superfice del Proyecto</b>
                <p>Localización del área del proyecto con coordenadas UTM con Datum WGS 84. Zona 14N.<p>
                <p><i>Tabla 3.4: Coordenadas de las parcelas</i></p>
                <b>Aqui va una tabla</b><br><br>

                <b>3.2.2. Ubicación y Delimitación Física de la Superfice del Proyecto</b>
                <p>Localización del área del proyecto con coordenadas UTM con Datum WGS 84. Zona 14N.<p>
                <p><i>Tabla 3.5: Coordenadas del Ejido</i></p>
                <b>Aqui va una tabla</b><br><br>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
            Capitulo 3.3: REpresentación Gráfica de la Ubicación Geografica y Geopolítica
        </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse row g-3" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Para la ubicación del predio a nivel de la cuenca forestal se tiene lo siguiente:<br><br>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Región Hidrológica:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="p. ej. 24 - Bravo">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Cuenca Hidrológica</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="p. ej. A - 01 - 01">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Subcuenca Hidrológica:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="p. ej. R. Pesqueria">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Microcuenca:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="p. ej. Higueras">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseTwo">
            Capitulo 3.4. Indicar si el proyecto se ubica dentro de alguna modalidad de área natural protegida (ANP)
        </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <b>3.4.1. Referente al área natural protegida</b>
                <p>Texto del capitulo.<p>
                <p><i>Tabla 3.5: Coordenadas del Ejido</i></p>
                <b>Aqui va una tabla</b><br><br>

                <b>3.4.2. El predio se encuentra dentro de alguna AICA</b>
                <p>Texto del capitulo.<p>
                <p><i>Tabla 3.5: Coordenadas del Ejido</i></p>
                <b>Aqui va una tabla</b><br><br>

                <b>3.4.3. El predio se encuentra dentro de alguna RHP</b>
                <p>Texto del capitulo.<p>
                <p><i>Tabla 3.5: Coordenadas del Ejido</i></p>
                <b>Aqui va una tabla</b><br><br>

                <b>3.4.4. El predio se encuentra dentro de alguna RTP</b>
                <p>Texto del capitulo.<p>
                <p><i>Tabla 3.5: Coordenadas del Ejido</i></p>
                <b>Aqui va una tabla</b><br><br>

                <b>3.4.5. El predio se encuentra dentro de alguna RAMSAR</b>
                <p>Texto del capitulo.<p>
                <p><i>Tabla 3.5: Coordenadas del Ejido</i></p>
                <b>Aqui va una tabla</b><br><br>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="text-end">
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #FF1F48;">Guardar Cambios</button> | 
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #FFD61F;">Ver Cambios</button> | 
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #1FFFD6;">Ver Texto</button> | 
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #1F48FF;">Descargar Archivo</button>
    </div>
</div>
<br><br>