<h4>
    Capitulo 15: Datos de inscripcion en el registro del prestador de Servicios forestales que haya elaborado el estudio y, del que estara a cargo
    de la ejecucion del cambio de uso de suelo
</h4><br>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Descripcion del Capitulo
        </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="text-align: justify;">
                En este capítulo se presenta la ubicación geográfica exacta del predio o conjunto de predios donde se desarrollará el proyecto, describiendo sus coordenadas, extensión total y límites territoriales. A través de planos georreferenciados se delimita la zona específica sujeta al cambio de uso de suelo, incluyendo mapas de referencia que muestran la relación del predio con su entorno natural y urbano. Asimismo, se detallan las colindancias, los accesos principales y las vías de comunicación cercanas, con el objetivo de proporcionar una representación espacial clara y precisa del área de estudio. Estos elementos cartográficos permiten evaluar la viabilidad ambiental y territorial del proyecto, asegurando que la información geográfica cumpla con los estándares técnicos requeridos.
            </div>
        </div>
    </div>

    <!-- 
    ================================================================================================================================================
        CAPITULO 14.1 JUSTIFICACIÓN TÉCNICA
    ================================================================================================================================================
    -->

    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Capitulo 15.1. Prestador de servicios tecnicos
        </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Capitulo 15.2. Colaboradores o Participantes
        </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
            Capitulo 15.3. Firmas
        </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse row g-3" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseTwo">
            Capitulo 15.4. Nombre del responsable de dirigir la ejecucion del cambio de uso de suelo
        </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="text-end">
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #FF1F48;" disabled>Guardar Cambios</button> | 
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #FFD61F;" disabled>Ver Cambios</button> | 
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #1FFFD6;">Ver Texto</button> | 
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #1F48FF;">Descargar Archivo</button>
    </div>
</div>
<br><br>