<h4>
    Capitulo 17: Identifición de los instrumentos metodologicos y elementos tecnicos que sustentan la informacion señalada
    en las fracciones anteriores
</h4><br>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Descripcion del Capitulo
        </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="text-align: justify;">
                En este capítulo se presenta la ubicación geográfica exacta del predio o conjunto de predios donde se desarrollará el proyecto, describiendo sus coordenadas, extensión total y límites territoriales. A través de planos georreferenciados se delimita la zona específica sujeta al cambio de uso de suelo, incluyendo mapas de referencia que muestran la relación del predio con su entorno natural y urbano. Asimismo, se detallan las colindancias, los accesos principales y las vías de comunicación cercanas, con el objetivo de proporcionar una representación espacial clara y precisa del área de estudio. Estos elementos cartográficos permiten evaluar la viabilidad ambiental y territorial del proyecto, asegurando que la información geográfica cumpla con los estándares técnicos requeridos.
            </div>
        </div>
    </div>

    <!-- 
    ================================================================================================================================================
        GLOSARIO
    ================================================================================================================================================
    -->

    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Glosario
        </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p class="justify"><b>ACUSTF:</b> Se refiere al área de estudio o el área de cambio de suelo donde se pretende llevar a cabo las actividades de desmonte.</p>
                <p class="justify"><b>Acuífero:</b> Cualquier formación geológica o conjunto de formaciones geológicas hidráulicamente conectadas entre sí, por las que circula o se almacenan aguas del subsuelo que pueden ser extraídas para su explotación, uso o aprovechamiento.</p>
                <p class="justify"><b>Anticlinales:</b> En las formas geológicas plegadas producidas por orogenias, sería el pliegue convexo hacia arriba. Es decir, es la ondulación de una capa de amplitud y forma variable, en la que los estratos más antiguos se encuentran en el núcleo del pliegue.</p>
                <p class="justify"><b>Autodepuración:</b> Es el proceso de recuperación de un cuerpo de agua después de un proceso de contaminación orgánica </p>
                <p class="justify"><b>Eutrofización:</b> Proceso natural y/o antropogénico que consiste en el enriquecimiento de las aguas con nutrientes, a un ritmo tal que no puede ser compensado por la mineralización total, de manera que la descomposición del exceso de materia orgánica produce una disminución del oxígeno en las aguas profundas. Sus efectos pueden interferir de modo importante con los distintos usos que el hombre puede hacer de los recursos acuáticos (abastecimiento de agua potable, riego, recreación, etc.).</p>
                <p class="justify"><b>Eco hidrológico:</b> Es la relación directa que hay entre la vegetación y la accesibilidad al agua  Evacuación del suelo: Sistema individual para el tratamiento de aguas residuales. </p>
                <p class="justify"><b>Biodiversidad:</b> Son las variadas  formas de vida que se pueden desarrollar en un ambiente natural pudiendo ser plantas, animales, microorganismos y el material Genético que lo conforma.</p>
                <p class="justify"><b>Biocenosis:</b> Es una comunidad o conjunto de poblaciones de distintas especies, las cuales habitan en un lugar geográfico determinado y están influenciadas por factores físicos como la luz, la humedad, la temperatura, etc.</p>
                <p class="justify"><b>Causes:</b> Es la concavidad que sirve de piso firme a una corriente de agua natural en su curso normal.</p>
                <p class="justify"><b>Compensación:</b> Es un proceso mediante el cual se aplican diferentes actividades encaminadas a restaurar algunos factores alterados por modificaciones al medio natural.</p>
                <p class="justify"><b>Contingencia: </b>Hecho que es probable que ocurra aunque no se tiene certeza al respecto, es considerado como espontáneo o provocado.</p>
                <p class="justify"><b>Deslizamiento: </b>Es el movimiento del suelo, generalmente por acción de una falla o debilidad del terreno y se puede presentar de dos formas:</p>
                <p class="justify"><b>Desmonte: </b>El desmonte es un tipo de laboreo extraordinario que consiste en manipular mecánicamente el suelo para extraer vegetación arbustiva y herbácea. </p>
                <p class="justify"><b>Despalme: </b>Es la remoción de las capas superficiales del terreno natural.</p>
                <p class="justify"><b>Difusión: </b>Es un proceso físico irreversible en el que partículas materiales se introducen en un medio que inicialmente estaba ausente.</p>
                <p class="justify"><b>Dispersión: </b>Es la capacidad que tiene una población de colonizar nuevos hábitats por pequeños desplazamientos al azar de sus individuos</p>
                <p class="justify"><b>Erosión: </b>Desagregación, desprendimiento y arrastre de sólidos desde la superficie terrestre por la acción del agua, viento, gravedad, hielo u otro proceso por el cual el sustrato resquebrajado y acarreado lejos de un área.</p>
                <p class="justify"><b>Escorrentía: </b>Es la cantidad de lluvia que excede la capacidad de infiltración en el suelo.</p>
                <p class="justify"><b>Especies endémicas: </b>Son aquellas especies de plantas o animales que tienen su distribución restringida a un territorio determinado. Puede ser endémica de algún estado, de alguna montaña, cueva,  lago, río o manantial etc.</p>
                <p class="justify"><b>Escenario: </b>Es un “conjunto de acciones formado por la descripción de una situación futura y un camino de sucesos que permiten pasar de una situación actual a la futura. Entre los escenarios, se distinguen aquellos que se consideran posibles, los realizables, los deseables, y los tendenciales. También se pueden trabajar los llamados escenarios de contraste y los horizontes normativos.</p>
                <p class="justify"><b>Fallas: </b>En Geología una falla es una fractura en el terreno a lo largo de la cual hubo movimiento de uno de los lados respecto del otro. Las fallas se forman por esfuerzos tectónicos o gravitorios actuantes en la corteza. La zona de ruptura tiene una superficie generalmente bien definida denominada plano de falla, aunque puede hablarse de banda de falla cuando la fractura y la deformación asociada tienen una cierta anchura. </p>
                <p class="justify"><b>Impactos: </b>Son la “Modificación del ambiente ocasionada por la acción del hombre o de la naturaleza”. Un huracán o un sismo pueden provocar impactos ambientales, sin embargo el instrumento Evaluación de Impacto Ambiental (EIA) se orienta a los impactos ambientales que eventualmente podrían ser provocados por obras o actividades que se encuentran en etapa de proyecto (impactos potenciales), o sea que no han sido iniciadas.</p>
                <p class="justify"><b>Impactos ambientales: </b>Es el efecto de la modificación del  medio ambiente causado por actividades humanas o de la naturaleza.</p>
                <p class="justify"><b>Impacto residual: </b>Es aquel que persistirá en el ámbito donde se haya efectuado un cambio de condición aun después de aplicar las medidas de mitigación.</p>
                <p class="justify"><b>IVI: </b>Se refiera al Índice de valor de importancia del análisis de las especies de cada estrato. </p>
                <p class="justify"><b>Malpaís: </b>Terreno muy erosionado en el que suele faltar agua por lo que no es apropiado para cultivar.</p>
                <p class="justify"><b>Mantos freáticos: </b>El manto freático es el agua subterránea llamado acuífero.</p>
                <p class="justify"><b>Matrices: </b>Son métodos cuantitativos de evaluación que se utiliza para identificar el impacto inicial de un proyecto en un entorno natural. El sistema consiste en una matriz de información donde las columnas representan varias actividades que se hacen durante el proyecto (p. ej.: desbroce, extracción de tierras, incremento del tráfico, ruido, polvo), y en las filas se representan varios factores ambientales que son considerados (aire, agua, geología). </p>
                <p class="justify"><b>Método GOD: </b>Método utilizado para la determinación del riesgo de contaminación de aguas subterráneas con el fin de establecer prioridades, a través del cual se determina la vulnerabilidad intrínseca por lo que no toma en cuenta el tipo de contaminante</p>
                <p class="justify"><b>Mitigación: </b>Es un conjunto de medidas que se pueden tomar para contrarrestar o minimizar los impactos negativos que pudieran tener algunas intervenciones antrópicas. </p>
                <p class="justify"><b>N.O.M.: </b>Normas Oficiales Mexicanas</p>
                <p class="justify"><b>Pronóstico Ambiental: </b>Es una técnica a través de la cual se pueden predecir las características futuras del ambiente derivadas de la ejecución de acciones antropogénica o naturales que modifican el medio natural.</p>
                <p class="justify"><b>Programa de Manejo Ambiental: </b>Análisis de las condiciones de un determinado ecosistema mediante la observación y la evaluación realizada a los impactos ambientales que se pudiesen generar por la ejecución de un proyecto. </p>
                <p class="justify"><b>Programa de monitoreo: </b>Herramienta destinada a verificar el cumplimiento de las medidas planteadas en el Plan de Manejo Ambiental.</p>
                <p class="justify"><b>Relieve: </b>Conjunto de formas que resaltan sobre un plano o superficie. En Geografía, el relieve hace referencia a los diferentes desniveles o irregularidades que presenta la superficie terrestre, y es fundamental en los estudios del clima y en la distribución de la vegetación. </p>
                <p class="justify"><b>Sequía: </b>Considerada uno de los fenómenos medioambientales que más afectan al desarrollo del ser humano y de todas las formas posibles de vida, la sequía puede ser descripta como la ausencia de riego o de agua en la tierra o superficie. La sequía es usualmente causada por la falta de lluvias en una región, y mientras en algunos casos puede tener que ver con el ciclo común de los eventos (es decir, en zonas que son proclives a la sequía), en otros puede suceder de manera inesperada.</p>
                <p class="justify"><b>Servicios de soporte: </b>Son aquellos que mantienen los procesos de los ecosistemas y permiten la provisión del resto de los servicios.</p>
                <p class="justify"><b>Servicios de provisión: </b>Son recursos tangibles y finitos que se contabilizan y consumen.</p>
                <p class="justify"><b>Servicios de regulación: </b>Son lo que mantienen los procesos y funciones naturales de los ecosistemas.</p>
                <p class="justify"><b>Sismicidad: </b>Se denomina sismicidad al análisis del número de sismos que se suceden en una región geográfica determinada. Tal estudio registra en un mapa a los diversos epicentros existentes, además de tomar en cuenta la frecuencia con que  se suceden estos fenómenos.</p>
                <p class="justify"><b>Valoración: </b>Conjunto de técnicas y métodos que permiten medir las expectativas de beneficios y costos derivadas de las acciones. Término utilizado para asignar valor a procesos indirectos tales como las  cuencas hidrográficas y el abastecimiento de agua; los bosques en el secuestro de carbono y el control de la erosión; conservación de los ecosistemas y el mantenimiento de material genético. </p>
                <p class="justify"><b>Vulnerabilidad: </b>Es la incapacidad de resistencia cuando se presenta un fenómeno amenazante, o la incapacidad para reponerse después de que ha ocurrido un desastre.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Bibliografia
        </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body justify">
                <p>Boletín de la Sociedad Geológica Mexicana 2006</p>
                <p>Casas Andreu, Valenzuela López G.G., y Ramírez Bautista, A. (1990) Como hacer una colección de anfibios y reptiles. Cuadernos del Instituto de Biología. Serie 10. Universidad Nacional Autónoma de México.</p>
                <p>Drews, C. (2003). Conceptos y panorama del rescate de fauna en el Neotrópico.</p>
                <p>Dirección General de Fomento Editorial Benemérita Universidad Autónoma de Puebla Merriam, C. H. 1898.</p>
                <p>En Manejo de Fauna Silvestre en Amazonía y Latinoamérica. Selección de Trabajos del V Congreso Internacional, ed. R. Polanco‐Ochoa. CITES, Fundación Natura. Bogotá, Colombia. P. 351 ‐ 356. Eliosa‐Leon, H.R. y Castillo Salazar, A. (2006). Recolecta de Anfibios. En Manual de Métodos de Colecta de Plantas y Animales</p>
                <p>Dirección General de Fomento Editorial Benemérita Universidad Autónoma de Puebla Merriam, C. H. 1898.</p>
                <p>Plan estatal Cuenca de Burgos para el estado de Coahuila</p>
                <p>Plan estatal de desarrollo para el estado de Coahuila 2013-2018</p>
                <p>Identificación de material vegetativo Dr. José Ángel Villarreal Escamilla.</p>
                <p>Libro de Botánica de las especies de Dr. José Ángel Villareal Escamilla</p>
                <p>Ley General del Equilibrio Ecológico y la Protección al Ambiente (LGEEPA).</p>
                <p>Ley General de Desarrollo Forestal Sustentable y su Reglamento.</p>
                <p>Ley General de Vida Silvestre</p>
                <p>Ley del equilibrio Ecológico y la Protección al Ambiente del Estado de Coahuila</p>
                <p>Libro de Botánica de las especies de Dr. José Ángel Villareal Escamilla</p>
                <p>Informe 2011. Instituto Nacional de Ecología, Instituto Mexicano de Tecnología del Agua.</p>
                <p>Manejo de Fauna Silvestre en Amazonía y Latinoamérica. Selección de Trabajos del V Congreso Internacional, ed. R. Polanco‐Ochoa. CITES, Fundación Natura. Bogotá, Colombia. P. 351 ‐ 356. Eliosa‐Leon, H.R. y Castillo Salazar, A. (2006). Recolecta de Anfibios. En Manual de Métodos de Colecta de Plantas y Animales.</p>
                <p>Manual de Técnicas para Estudios de la Fauna.- Dra. Sonia Gallina Tessaro. Instituto Nacional de Ecología; Dr. Carlos A. López González, Universidad Autónoma de Querétaro; Salvador Mandujano Rodríguez. 2011.</p>
                <p>Norma Oficial Mexicana NOM-059-SEMARNAT-2010, Protección ambiental-Especies nativas de México de flora y fauna silvestres-Categorías de riesgo y especificaciones para su inclusión, exclusión o cambio-Lista de especies en riesgo, publicada en el Diario Oficial de la Federación el 30 de diciembre de 2010.</p>
                <p>NOM-011-CONAGUA-2000 Conservación del Recurso Agua - Que establece las especificaciones y el método para determinar la disponibilidad media anual de las aguas nacionales.</p>
                <p>Pedro Linares Llamas; Universidad Pontificia Comillas de Madrid. Economía y Medio Ambiente; Herramientas de valoración Ambiental.</p>
                <p>Programa de Ordenamiento Ecológico General del Territorio.</p>
                <p>Normas Oficiales Mexicanas en materia de seguridad.</p>
                <p>Plan Nacional de Desarrollo (2013-2018).</p>
                <p>Plan Estatal de Desarrollo (2011-2017).</p>
                <p>REGLAS de Operación del Programa Nacional Forestal 2015.</p>
                <p>Reglamento de la Ley General del Equilibrio Ecológico y la Protección al Ambiente en Materia de Evaluación del Impacto Ambiental.</p>
                <p>Regulo León Arteta.- Grados de Erosión o severidad y capacidad del uso del suelo. Marzo 2007.</p>
                <p>Síntesis Geográfica del Estado de Coahuila.</p>
                <p>TNC The Nature Conservancy.</p>
                <p>Convenios entre Canadá, Estados Unidos y México para la protección de las aves migratorias y los mamíferos cinegéticos.</p>
                <p>Convención RAMSAR para la protección de humedales de importancia internacional.</p>
                <p>Declaración de Río sobre el medio ambiente y el desarrollo.</p>
                <p>Secretaría de Agricultura, Ganadería, Desarrollo Rural, Pesca y Alimentación (SAGARPA). http://www.gob.mx/sagarpa</p>
                <p>Instituto Nacional de Investigaciones Forestales y Agropecuarias (INIFAP). http://www.inifap.gob.mx/SitePages/Inicio.aspx</p>
                <p>Comisión Nacional de Áreas Naturales Protegidas (CONANP). http://www.conanp.gob.mx/</p>
                <p>Comisión Nacional para el Conocimiento y Uso de la Biodiversidad (CONABIO). http://www.conabio.gob.mx/</p>
                <p>Secretaría de Medio Ambiente y Recursos Naturales (SEMARNAT). http://www.gob.mx/semarnat</p>
                <p>Comisión Nacional del Agua (CONAGUA). http://www.conagua.gob.mx/</p>
                <p>Cartografía INEGI 2012.</p>
                <p>Instituto Nacional de Estadística y Geografía (INEGI). Cartografía, Datos Hidrológicos de Aguas Superficiales, Informe 2011.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="text-end">
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #FF1F48;" disabled>Guardar Cambios</button> | 
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #FFD61F;" disabled>Ver Cambios</button> | 
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #1FFFD6;">Ver Texto</button> | 
        <button type="button" class="btn" data-bs-toggle="modal" style="background-color: #1F48FF;">Descargar Archivo</button>
    </div>
</div>
<br><br>